@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    /* height: 3000px; */
    background-color: #A5B68D;
}

.ff{
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    letter-spacing: 1px;
}

.navbar{
    background-color: #ECDFCC;
}

.tt{
    margin-left: auto;
}

.hh{
    color: #DA8359;
    border: 1px solid #DA8359;
}

.hh:hover{
    background-color: #DA8359;
    color: #fff;
    border: 1px solid #fff;
}

.carousel-item img{
    height: 100vh;
}

.vv{
    background-color: rgba(0, 0, 0, .5);
}

.helo{
    background-color: #A5B68D;
    color: #000;
}

.zz{
    transition: .6s;
}

.moo{
    background-color: #ECDFCC;
    padding: 30px;
}

.zz:hover{
    background-color: #fff;
    color: #2c2929;
}

.joo{
    margin: 0px 10px;
    background-color: #DA8359;
    border: none;
}

.joo:hover{
    color: #DA8359;
    background-color: #fff;
    border: 1px solid #DA8359;
}

.joo:active{
    box-shadow: 1px 1px 10px 1px  #DA8359;
    background-color:  #DA8359;
    color: #fff;
}

.joo:focus{
    color: #fff;
}

.hii{
    background-color: #ECDFCC;
    color: #000;
}

.qq{
    background-color: #DA8359;
    color: #fff;
    border: 1px solid #000;
    transition: .6s;
    box-shadow: 1px 1px 15px 5px gray;
}

.qq:hover{
    color: #DA8359;
    background-color: #fff;
    border: 1px solid #DA8359;
}

.joo:focus{
    box-shadow: 1px 1px 10px 1px  #DA8359;
    background-color:  #DA8359;
}

.ll{
    border: 1px solid rgb(64, 181, 228);
}

.bg1{
    margin-top: 20px;
    width: 99%;
    height: 220px;
    background-image: url(../images/img4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.cardparent .card{
    position: relative;
}

.cardparent .card::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: .7s; 
}

.cardparent .card:hover::after{
    width: 100%;
    height: 100%;
}

.cardparent .card::before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: .7s; 
}

.cardparent .card:hover::before{
    width: 100%;
    height: 100%;
}

.bg2{
    margin-top: 20px;
    width: 99%;
    height: 220px;
    background-image: url(../images/img5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.thankparent{
    margin-top: 40px;
    background-image: url(../images/img11.jpg);
    background-size: cover;
    background-position: center;
    width: 330px;
    height: 320px;
    transition: .6s;
}

.thankoverlay{
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 20px 0px 0px 20px;
    transition: .6s;
}

.thankparent:hover{
    transform: scale(.94 , .94);   
}

.thankparent:hover .thankoverlay{
    background-color: rgba(47, 168, 102, 0.8);
}

.news-parent{
    border: 1px solid;
    position: relative;
    height: 400px;
    box-shadow: 1px 1px 20px 1px gray;
    color: #fff;
}


.div1{
    width: 60px;
    height: 4px;
    border: none;
    margin-top: -10px;
    margin-bottom: 20px;
    transition-duration: .6s;
}

.news-parent:hover .div1{
    width: 120px;
    
}
.play{
    cursor: pointer;
    text-transform: lowercase;
    background-color: #fff;
    color: rgb(60, 157, 248);
    transition: .6s;
}

.play:hover{
    background-color: rgb(60, 157, 248);
    color: #fff;
}

.pp{
    background-color: #fff;
    transition: .6s;
    color: #000;
    border: 1px solid #000;
    cursor:default;
}

.pp:hover{
    background-color: rgb(161, 160, 160);
}

.news-parent .img1{
    position: absolute;
    top: 0;
    right: 0;
}

.img2{
    position: absolute;
    top: 0;
    left: 0;
}

.news-details{
    margin-left: 420px;
}

.icons-item{
    background-color: rgb(150, 129, 102);
    margin: auto;
    text-align: center;
    width: 180px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 10px gray;
    transition: .6s;
}

.news-parent img{
    width: 300px;
    height: 398px;
 }

.icons-item:hover{
    color: rgb(150, 129, 102);
    background-color: #000;
}

.icons-item i{
    font-size: 32px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    background-color:#ccbbbb;
    width: 99%;
}

.footer-div1{
    width: 70%;
    margin: auto;
    height: 1px;
    border: none;
    background-color: #111;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-bottom: 20px; */
    /* transition-duration: .6s; */
}

.hr1{
    width: 80%;
    margin: auto;
}

.footer-item{
    /* background-color: chocolate; */
    text-align: center;
    width: 400px;
}

.footer-item img{
    border-radius: 50%;
}

.footer-item a{
    text-decoration: none;
    color: #000;
    padding-top: 10px;
}
.footer-item a:hover{
    text-decoration:underline;
}



.last p{
    letter-spacing: 1px;
    font-style: italic;
    font-size: 14px;
}

.additional-sec{
    color: #000;
    font-size: 32px;
    position: fixed;
    z-index: 100;
    top: 160px;
    right: 45px;
}

.additional-sec i{
    display: block;
    margin-top: 20px;   
    transition: .6s;
    background-color: #000;
    padding: 5px;
}

.additional-sec a{
    text-decoration: none;
    /* background-color: #fff; */
    color: #fff;
    transition: .6s;
    line-height: 10px;
}

.footer-div12{
    margin-top:30px ;
}


@media(max-width: 600px){

    body{
        /* margin-left: 70px; */
    }
    .news-parent img{
       width: 100%;
       height: 110px;
    }

    .news-parent{
        font-size: 10px;
    }

    .news-parent h4{
        margin-top: 100px;
    }

    .oo h4{
        margin-left: -430px;
    }

    .oo .num1{
        margin-left: -430px;
    }

    .oo p{
        margin-left: -430px;
    }

    .oo .pp{
        margin-left: -430px;
        /* margin-top: -50px; */
    }

    .pp{
        width: 70px;
    }

    .ll{
        width: 90px;
    }

    .oo .div1{
        margin-left: -430px;
    }

    .thankparent{
        margin: auto;
        margin-top: 100px;
    }

    .cardparent .card{
        margin: auto;
        margin-top: 30px;
    }

    .icons-item{
        margin-top: 30px;
    }

    .footer-item{
        margin: auto;
    }

    .oo{
        padding-right: 20px;
    }

    /* .additional-sec{
        position: fixed;
        left: 20px;
        width: 40px; */
    

    .aa{
        margin-left: 50px;
    }

    .xx , .zz{
        margin-left: 25px;
    }

    .cc{
        margin-left: 23px;
    }

    .dd{
        margin-left: 16px;
    }

    .nn{
        margin-left: 12px;
    }

    .hii{
        margin-left: 12px;
        margin-top: 20px;
    }

}
